<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrong OTP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: "Source Code Pro", monospace;

        }
        body{
            background-color: black;
            color: darkgreen;

            font-size: x-large;
        }
        .trag{
            color: greenyellow;
            font-size: 25px;
            &:hover{
                text-decoration: underline;
                color: #5b0101;

            }
        }
    </style>
</head>
<body><br><br>
<center>
    <div>
        <h2>OTP Approved </h2><br>
        <a href="/" class="trag" >Redirect to Login Page</a>
    </div>
</center>
</body>
</html>