<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: "DM Sans", sans-serif;

        }
        body{
            background-color: olivedrab;
        }
        .main_div{
            background-color: rgba(225,225,225,0.5);
            width: 300px;
            height: 200px;
            border-radius: 7px;
            margin-top: 15%;

        }
        .inp{
            width: 85%;
            height: 25px;
            border-radius: 5px;
            border: none;
        }
        .btn{
            height: 35px;
            width: 100px;
            font-size: 17px;
            background-color: tomato;
            border-radius: 7px;
            border:none;
            &:hover{
                background-color: maroon;
                color: white;
                transition: 0.3s ease;
                cursor: pointer;
            }
        }

    </style>
    <script>
        alert("OTP Verified, Now Enter Your New Password")
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            if (password !== confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }

            var passwordPattern = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,}$/;

            if (!passwordPattern.test(password)) {
                alert("Password must contain at least 8 characters, including one alphabet, one number, and one special character.");
                return false;
            }

            alert("Password Reset Successful")
            return true;

        }
    </script>
</head>
<body>
<center>
    <div class="main_div" ><br>
        <form action="/reset_password" method="post" onsubmit=" return validatePassword()"  >
            <label>Enter New Password</label><br>
            <input type="password" name="password" id="password" class="inp" required><br><br>
            <label>Re-enter Password</label><br>
            <input type="password" id="confirm_password" class="inp" required>
            <br><br>
            <input type="submit" class="btn" value="SUBMIT" >
        </form>
    </div>
</center>
</body>
</html>