<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>

        *{
            margin: 0;
            padding: 0;
            font-family: "DM Sans", sans-serif;

        }
        body{
            background-color: olivedrab;
        }
        .main_div1{
            background-color: lightgray;
            border: 2px solid black;
            width: 350px;
            height: 830px;
            border-radius: 7px;

            &:hover{
                border-color: #5b0101;
            }
        }
        .inp{
            width: 85%;
            height: 25px;
            border-radius: 5px;
            border: none;
            font-size: 17px;

        }
        label{
            font-size:20px;
        }
        .btn{
            height: 35px;
            width: 100px;
            font-size: 17px;
            background-color: tomato;
            border-radius: 7px;
            border:none;
            &:hover{
                background-color: maroon;
                color: white;
                transition: 0.3s ease;
                cursor: pointer;
            }
        }
        #confirm{
            font-size: 15px;
        }
    </style>
    <script>
        function submitForm() {
            // Capture current date and time
            var currentDate = new Date();

            // Format the date and time (adjust as needed)
            var formattedDate = currentDate.getFullYear() + '-' +
                    ('0' + (currentDate.getMonth() + 1)).slice(-2) + '-' +
                    ('0' + currentDate.getDate()).slice(-2);

            var formattedTime = ('0' + currentDate.getHours()).slice(-2) + ':' +
                    ('0' + currentDate.getMinutes()).slice(-2) + ':' +
                    ('0' + currentDate.getSeconds()).slice(-2);

            // Assign the formatted date and time to hidden fields
            document.getElementById("submission_date").value = formattedDate;
            document.getElementById("submission_time").value = formattedTime;
        }

        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm_password").value;
            if (password !== confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }

            var passwordPattern = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,}$/;

            if (!passwordPattern.test(password)) {
                alert("Password must contain at least 8 characters, including one alphabet, one number, and one special character.");
                return false;
            }

            return true;

        }

        function validatePhoneNumber() {
            var phoneNumber = document.getElementById("ph_num").value;
            // Phone number pattern: 10 digits, optional country code
           // var phoneNumberPattern = /^\d{10}$/;

             var phoneNumberPattern = /^\+?\d{10}$/;

            if (!phoneNumberPattern.test(phoneNumber)) {
                alert("Please enter a valid phone number.");
                return false;
            }

            return true;
        }

        function validateEmail() {
            var email = document.getElementById('email').value;
            var pattern = /^[a-zA-Z0-9._%+-]+@stu\.adamasuniversity\.ac\.in$/;
            if (pattern.test(email)) {
                return true;
            } else {
                alert('Email is not valid! It should be in the format: user@stu.adamasuniversity.ac.in');
                return false;
            }
        }
    </script>
</head>
<body>
<header>
    <br>
    <h1 align="center">Registration Page</h1><br>
    <hr><br><br>
</header>
<main>
    <center>
        <div class="main_div1" >
            <h2>Signup</h2><br><hr>
          <form action="/register" method="post" onsubmit="return validatePassword() && validatePhoneNumber() && validateEmail()" >
              <br>
              <label>Full Name</label><br>
              <input type="text"  name="full_name"  class="inp" required><br><br>
           <label>University Email</label><br>
              <input type="email"  name="au_email" id="email" class="inp" required><br><br>
              <label>Password</label><br>
              <input type="password" name="password" id="password" class="inp" required><br><br>
              <label>Confirm Password</label><br>
              <input type="password" class="inp"  id="confirm_password"  required><br><br>
              <label>Faculty ID</label><br>
              <input name="faculty_id" type="text" maxlength="6" class="inp" required><br><br>

              <label>Gender</label><br>
              <select  name="gender" class="inp" required>
                  <option>--select--</option>
                  <option value="Male" >Male</option>
                  <option value="Female" >Female</option>
                  <option value="Prefer Not to Inform" >Prefer Not to Inform</option>
              </select><br><br>

              <label>Department</label><br>
              <select name="department" class="inp"  required>
                  <option>--select--</option>
                  <option value="Engineering And Technology">School of Engineering And Technology</option>
                  <option value="Basic Applied Sciences">School of Basic Applied Sciences</option>
                  <option value="Liberal Arts and Culture Studies">School of Liberal Arts and Culture Studies</option>
                  <option value="Business and Economics">School of Business and Economics</option>
                  <option value="Law and Justice">School of Law and Justice</option>
                  <option value="Media and Communication">School of Media and Communication</option>
                  <option value="Education">School of Education</option>
                  <option value="Life Science & Biotechnology">School of Life Science & Biotechnology</option>
                  <option value="Medical Sciences">School of Medical Sciences</option>
                  <option value="Smart Agriculture">School of Smart Agriculture</option>
              </select><br><br>

              <label>Phone Number of Faculty</label><br>
             <input type="text" name="ph_num" id="ph_num" class="inp"  maxlength="10"  required  >
              <br><br>

              <input  type="hidden" name="time" id="submission_time">
              <input type="hidden" name="date" id="submission_date">


            <input type="checkbox" required><label id="confirm" >I certify that the information provided above is true and accurate to the best of my knowledge.</label><br><br>


              <input type="submit" value="SUBMIT" class="btn" onclick="submitForm()"  >


          </form>
        </div>
    </center>
</main>


</body>
</html>